#banner {
    position: relative;

    .col-lg-6 {
        // margin-top: -80px;
        // margin-left: -150px;
    }

    .bannerImg {
        position: absolute;
        top: -80px;
        left: -150px;
        width: 50%;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .bannerContents {

        padding: 30px 0 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 50px;

        .logo {
            width: 100%;
            height: 130px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -25px;
                right: 20px;
                width: 65%;
                height: 1px;
                background-color: #FFFFFFB2;
            }

        }

        h4 {
            margin-top: 50px;
            max-width: 800px;
            font-weight: 900;
            font-size: 35px;
            line-height: 1.2;
            color: #cccccc;
            text-align: right;
            white-space: pre-line;
        }


    }

    @media (min-width:1440px) {
        padding-bottom: 100px;
        .col-lg-6 {
           margin: 0;
        }

        .bannerImg {
             position: absolute;
             top: -15%;
            left: -22%;
            width: 70%;
            height: 750px;
            img{

                object-fit: contain;
            }
        }
    }

    @media (max-width:768px) {
        .container{
            height: 50vh;
        }
        .bannerContents {

            position: absolute;
            top: 5%;
            right: 5%;
             height: 600px;
            h4 {
                font-size: 18px;
            }

            .logo {
                display: none;
            }

        }

        // .col-lg-6 {
        //     margin-top: -30px;
        //     margin-left: -100px;
        // }

        .bannerImg {
            position: absolute;
            top: -35%;
            left: -5%;
            
            img{
                object-fit: contain;
            }
        }
    }

    @media (max-width:426px) {
        .container{
            height: 40vh;
        }
        .col-lg-6 {
            margin-top: -55px;
            margin-left: -10px;
        }

        .bannerImg {
            height: 400px;
            width: 80%;
               position: absolute;
            top: -10%;
            left: -25%;
            img {
                object-fit: contain;
            }
        }
    }
}