footer{
    .formContactInfo{
        display: flex;
        flex-direction: column;
        .infoDiv{
            width: 100%;
            border-top: 1px solid #fff; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px;
            .boldtext{
                 font-weight: 400;
                font-size: 25px;
                color: #fff;
                max-width: 50%;
                font-family: "Montserrat", sans-serif;
             
            }
            .text{
                font-family: "Montserrat", sans-serif;
                color: #FFFFFF14;
                 font-weight: 700;
                font-size: 50px;
              
            }
        }
    }
    .footerLogo{
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logoDiv{
                width: 15%;
                height: 200px;
            .logoLetters{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .miniImage{
                width: 70%;
                height: 40%;
            }
        }
    }
    @media (max-width:768px) {
        .formContactInfo{
            .infoDiv{
                flex-wrap: wrap;
                border: none;
                padding: 8px 25px;
                .boldtext{
                    font-size: 15px;
                    max-width: 100%;
                    width: 100%;
                }
                .text{
                    display: none;
                    font-size: 12px;
                }
            }
        }
        .footerLogo{
            .logoDiv{
                width: calc(100%/8);
                height: 30px;
                object-fit: contain;
            }
            .miniImage{
                 margin-left: -10px;
    margin-top: -10px;
                width: calc(100%/8);
                height: 100%;
            }
        }
    }
    @media (max-width:425px) {
        .formContactInfo{
            .infoDiv{
                flex-wrap: wrap;
                border: none;
                padding: 8px 25px;
                .boldtext{
                    font-size: 15px;
                    max-width: 100%;
                    width: 100%;
                }
                .text{
                    display: none;
                    font-size: 12px;
                }
            }
        }
        .footerLogo{
            .logoDiv{
                width: calc(100%/8);
                height: 30px;
                object-fit: contain;
            }
            .miniImage{
                   
                width: calc(100%/8);
                height: 100%;
            }
        }
    }
}